<!DOCTYPE html>
<html>
<head>
    <title>System Performance Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
            integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="chart-container">
    <h1>System metrics</h1>
    <canvas id="metricsChart"></canvas>
</div>
<div id="logs-container">
    <h1>Logs</h1>
    <ul id="logs-list"></ul>
</div>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>